scm.cfg
Desktop_1.ini

10-common
30-webplatform
70-clientapp
80-moservice/*
!80-moservice/common/
!80-moservice/commonlib/
!80-moservice/mau/
!80-moservice/librabbitmqwrap/
!80-moservice/rediswrap/
!80-moservice/vcapi/

81-moboss/*
!81-moboss/aps/
!81-moboss/common/

b0-thirdparty
g0-protocol

.svn/


*.sdf
